.profilePage {
  display: grid;
  gap: 15px;
  justify-items: center;
}
.profilePage__nav {
  justify-self: start;
}
.profilePage__image {
  width: 203px;
  height: 203px;
  border-radius: 33%;
}
.profilePage__settings {
  display: grid;
  gap: 16px;
}
.profilePage__changeInput--hidden {
  display: none;
}
.profilePage__input {
  padding: 10px;
  width: 220px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 9px;
  background-color: var(--color-secondary);
  color: var(--color-text);
}
.profilePage__input:disabled {
  background-color: #241010;
  color: #c99a9a;
  cursor: not-allowed;
}
