@import "../1_core/breakpoints.less";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  &__logoLink {
    color: red;
    text-decoration: none;

    &--red {
      color: #e91f1f;
    }

    &--small {
      font-size: 20px;
    }
  }

  &__userPhoto {
    width: 50px;
    height: 50px;
    border-radius: 33%;
    user-select: none;
  }

  &__userName {
    color: var(--color-text);
    font-size: 17px;
    font-weight: bold;
    user-select: none;

    &::selection {
      color: #1f2937;
      background: white;
    }
  }

  &__photo {
    width: 300px;
  }

  &__logoIcon {
    width: 225px;
    height: 32px;
  }

  &__settings {

  }

  &__settingsLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px 2px 2px 12px;
    text-decoration: none;
    outline: none;
    background-color: var(--color-secondary);
    border-radius: 16px;

    &:hover {
      opacity: 0.9;
    }
  }
}
