.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    background: var(--color-primary);
  }
}
