.userMenu {
  display: grid;
  background-color: var(--color-secondary);
  border-radius: 16px;

  &__link {
    color: var(--color-text);
    outline: none;
    text-decoration: none;
    padding: 10px 20px;

    &:hover {
      background-color: var(--color-secondary-2);

      &:first-child {
        border-radius: 16px 16px 0 0;
      }
    }
  }

  &__settings {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 0 10px;
  }

  &__themeSwitcher,
  &__logOut {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background-color: var(--color-secondary);
    cursor: pointer;
    color: var(--color-text);
    border-radius: 10px;
  }
}
