.userPage {
  display: grid;
  gap: 15px;
  justify-items: center;
  &__header {
  }

  &__photo {
    width: 220px;
    border-radius: 33%;
  }

  &__editLink {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
